<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<mappings xmlns="http://dozer.sourceforge.net"-->
<!--          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--          xsi:schemaLocation="http://dozer.sourceforge.net-->
<!--      http://dozer.sourceforge.net/schema/beanmapping.xsd">-->

<!--    <mapping>-->
<!--        <class-a>com.example.criteriademo.model.Course</class-a>-->
<!--        <class-b>com.example.criteriademo.dto.CourseDto</class-b>-->
<!--        <field>-->
<!--            <a>courseCost</a>-->
<!--            <b>cost</b>-->
<!--        </field>-->
<!--    </mapping>-->

<!--    <mapping>-->
<!--        <class-a>com.example.criteriademo.model.Student</class-a>-->
<!--        <class-b>com.example.criteriademo.dto.StudentDto</class-b>-->
<!--    </mapping>-->

<!--</mappings>-->